include includes/mixins/modal.pug

doctype html
html(lang='pl')
	
	//- head
	include includes/global/head.pug

	body
		.l-app
			include includes/layout/header.pug

			.l-main
				+modal("modal--test", "display: block")
					p {{ message }}

			include includes/layout/footer.pug
			
	//- foot
	include includes/global/foot.pug