/* ==========================================================================
   Main
   ========================================================================== */

.l-app {

}

/*========================================================================== */

.l-main {
    display: block;
    font-size: 20px;

    div {
        margin: 50px auto;
        width: 200px;
        min-height: 50px;
        text-align: center;
    }
}