// build:js js/plugins.min.js
script(src='../js/plugins/jquery-3.1.1.min.js')
script(src='../js/plugins/mobile-detect.min.js')
script(src='../js/plugins/jquery.browser.detection.js')
script(src='../js/plugins/vue.js')
// endbuild

script(src='js/main.min.js')

